{% extends 'frontend/base.html' %}

{% block title %}Deposits | {% endblock %}

{% block content %}
<br>
<br>
<div class="w3-container w3-margin">
    <div class="w3-container w3-row w3-padding-8">
        <p class="">&#127974; Deposit</p>
    </div>
    <div class="w3-container w3-row w3-black w3-padding-8">
        <p style="color:white; float:right;" id="jscal"><p> 
        <p class="">Welcome, {{request.user.first_name}} </p>
    </div>
    <div class="w3-center ">
        <h3>Deposit form</h3>
        <form action="" method="post">
            {% csrf_token %}
            {% autoescape on %}
            <input class="ship-input" type="text" name="deposit" value="{{data.deposit}}" placeholder="$ Enter amount to deposit" min="1" max="2000" required>
            <br><br>

            <input class="w3-button w3-border w3-hover-green w3-large btn-submit" type="submit" value="Submit" />
            {% endautoescape %}
        </form>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
{% endblock %}