{% extends 'frontend/base.html' %}
{%load static%}

{% block title %}Log in | {% endblock %}

{% block content %}
    <br>
    <div class="w3-container w3-padding-64 login-form">
        <div class="w3-container w3-center">

           
            {% if message %}
                <div class=" w3-container w3-center w3-green"> 
                    {{message}}
                </div>

            {% endif %}
           

            {% if form.errors %}
                    <p class="w3-text-red">Your username and password didn't match. Please try again and note that you'll be locked out after 3 failed attemps.</p>

                    <p>If Forgot Password? <a class="w3-text-red" href="{% url 'request-reset-email' %}"> Reset it here</a> </p>

            {% endif %}
           
           <div>
                <form method='post' autocomplete="off">
                    {% csrf_token %}
                    {% autoescape on %}

                    {%for x in form%}

                        <small>{{ x.label}}: </small>
                        <br>
                        {{ x }}
                        <br>
                    
                    {% endfor %}
                    <br><br>

                {% endautoescape %}
                    <input type="submit" name="submit" value="Log in">
                </form>
            </div>
            <p>Don't have an account? <a class="w3-text-green" href="{% url 'signup'%}"> Register</a> </p> 


        </div>
    </div>
{% endblock %}
