{% extends 'frontend/base.html' %}
{%load static%}

{% block title %}Register | {% endblock %}

{% block content %}
<br>
    <div class="w3-container w3-padding-64 login-form">
        <div class="w3-container">
            <h1>Sign Up</h1>
            <form method="post" action="" autocomplete="off">
                {% csrf_token %}
                {% autoescape on %}

                {%for x in form%}

                    <small>{{ x.label}}: </small>
                    <br>
                    {{ x }}
                    <br>
                
                {% endfor %}
                <br>

                {% endautoescape %}
                <input type="submit" value="Sign Up">
            </form>
            <small> By signing up, you agree to our Terms, Data Policy and Cookies Policy.</small>
        </div>
    </div>
 {% endblock %}
