{% extends 'frontend/base.html' %}
{%load static%}

{% block title %}Register | {% endblock %}

{% block content %}
<br>
    <div class="w3-container w3-padding-64 login-form">
        
        <div class="w3-container">

            <h1>Sign Up</h1>

            {% include 'partials/_flash_messages.html'%}

            <form method="post" action="" autocomplete="off">
                {% csrf_token %}
                {% autoescape on %}

                    <label for="email">Email address: </label><br>
                    <input type="email" name="email" value="{{data.email}}" placeholder="Email" required />
                    <br>
                    <label for="phone">Phone number: </label><br>
                    <input type="text" name="phone" value="{{data.phone}}" placeholder="0123456789" required />
                    <br>
                    <label for="first_name">First name: </label><br>
                    <input type="text" name="first_name" value="{{data.first_name}}" placeholder="Your first name" required/>
                    <br>
                    <label for="last_name">Last name: </label><br>
                    <input type="text" name="last_name" value="{{data.last_name}}" placeholder="Your last name" required />
                    <br>
                    <label for="password">Pasword: </label><br>
                    <input type="password" name="password" value="" placeholder="Password" required />
                    <br>
                    <label for="password2">Password confirmation: </label><br>
                    <input type="password" name="password2" value="" placeholder="Confirm Password" required />
                    <br><br>

                    <input type="submit" value="Sign Up"><br>

                {% endautoescape %}
                
            </form>
            <small> By submitting, you agree to our <a href="#">Terms and Policies.</a> In addition, you also agree to receive email messages from us.</small>
        </div>
    </div>
 {% endblock %}
