{% extends 'frontend/base.html' %}
{%load static%}

{% block title %}Reset | {% endblock %}

{% block content %}

    <br>
    <br>

    <div class="w3-container w3-margin w3-center reset-form">
                        
        
            <h5 class="">Provide your email to recieve reset instructions</h5>

                {% include 'partials/_flash_messages.html'%}

                    <form action="{% url 'request-reset-email' %}" method="post">
                            {% csrf_token %}
                            {{form.as_p}}

                            
                            <input type="email" name="email" value="{{data.email}}" placeholder="Email">
                            
                            <input type="submit" value="Submit" class="btn btn-sm btn-block btn-primary"/>
                    </form>

            <p> Dont have an account?<a href="{%url 'signup'%}">Signup</a></p>
    
    </div>


{% endblock %}
