{% extends 'frontend/base.html' %}
{%load static%}

{% block title %}Reset | {% endblock %}

{% block content %}
    <br>
    <div class="w3-container w3-margin w3-center reset-form">
        <h5 class="card-title text-muted">Set your preffered Password</h5>
        {% include 'partials/_flash_messages.html'%}

            <form action="{% url 'set-new-password' uidb64 token %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input class="ship-input" class="form-control form-control-sm" type="password" name="password" value="" placeholder="Password">
                <input class="ship-input" type="password" name="password2" value="" placeholder="Confirm Password">
                <br>
                <br>
                <input type="submit" value="Submit" class=""/>

            </form>
    </div>

{% endblock %}