# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Django stuff:
*.log
local_settings.py
db.sqlite3

# pyenv
.python-version
datadump.json
# Environments

.venv
.env
env/
venv/
ENV/
env.bak/
venv.bak/
