.app{ background-color: rgb(8, 4, 106);}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {height: 100%;line-height: 1.8;}
.body{background: linear-gradient(#1fab89, #62d2a2, #9df3c4, #d7fbe8, #f0fff3);}
.baga{border-radius: 4px;}
.baga.active {background-color: black; color: white;}
a{text-decoration: underline; white-space: nowrap;}
a:hover {text-decoration: none;}
a:active {text-decoration: underline;}
.w3-bar .w3-button {padding: 16px;}
.ml4 {position: relative;}
.ml4 .letters {top: -30px;position: absolute;margin: auto; left: 0; right: 0; opacity: 0; }
/* Style tab links */
.tablink { background-color: #555; color: white; float: left; border: none; outline: none; cursor: pointer; padding: 14px 16px; font-size: 17px; width: 50%; white-space: nowrap;}

.tablink:hover {background-color: #777;}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent { color: white; display: none; padding: 100px 20px; background-position: center; background-size: cover; min-height: 100%;}
#Home {background-color: dodgerblue;}
#News {background-color: rgba(255, 0, 0, 0.868);}

tr{	background-color: white;}

