{% extends 'frontend/base.html' %}
{%load static%}

{% block title %}Welcome | {% endblock %}

{% block content %}
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:48px">
      <span class="w3-jumbo w3-hide-small">BankBrunoFoundation</span><br>
      <span class="w3-xxlarge w3-hide-large w3-hide-medium">BankBrunoFoundation</span><br>
      <span class="w3-large">Serving our customers and communities</span>
      <p><a href="{% url 'signup'%}" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
    </div> 
</header>
     <!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-black w3-padding-32">
    <h1 class="ml4">
        <span class="letters w3-hide-small letters-1">It doesn't happen with one transaction,</span>
        <span class="letters w3-hide-small letters-2">in one day on the job, or in one quarter.</span>
        <span class="letters w3-hide-small letters-3">It's earned relationship by relationship!</span>
        <span class="w3-large w3-hide-large w3-hide-medium letters letters-1">It doesn't happen with one transaction,</span>
        <span class="w3-large w3-hide-large w3-hide-medium letters letters-2">in one day on the job, or in one quarter.</span>
        <span class="w3-large w3-hide-large w3-hide-medium letters letters-3">It's earned relationship by relationship!</span>
    </h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>

<div class="w3-container" style="padding:128px 16px;">
 
    <div class="w3-margin w3-center">
        <div class="w3-round-medium w3-col l6 m5 w3-left w3-container w3-margin-bottom ">
            <div class="w3-card">
              <div class="w3-container w3-padding-large">
                <h3>Who we are</h3>
                <p> We help strengthen communities through diversity, equity, and inclusion, economic empowerment, and sustainability.</p>
                <a href="" class=" w3-margin w3-padding-large w3-border w3-hover-black w3-round-xxlarge">About us</a>
              </div>
            </div>
        </div>
        <div class="w3-round-medium w3-col l6 m5 w3-right w3-container w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container w3-padding-large">
                <h3>Living our commitment</h3>
                <p> Explore stories about how we're helping customers succeed and communities thrive with our thought out policies.</p>
                <a href="" class=" w3-margin w3-padding-large w3-border w3-hover-black w3-round-xxlarge">Our stories</a>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="bgimg-2 w3-display-container w3-wide" id="home">
    <div class="w3-display-left w3-padding-large">
      <h1 class="w3-jumbo w3-text-black w3-hide-small w3-hide-medium"><b>Acting now for a better future.</b></h1>
      <h1 class="w3-large w3-hide-large"><b>Acting now for a better future.</b></h1>
      <p class="w3-text-red">As representatives from government, businesses, civil society, and elsewhere gather in Sharm El Sheikh, Egypt, for COP27, the World Bank continues to work with its development partners amid a growing urgency to tackle the climate crisis. Learn more about this work</p>
      <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off">Read story &#x203A;</button></h6>
    </div>
</div>
<!--financial guidance and support -->
<div class="w3-container" style="padding:128px 16px" id="team">
    <canvas id="canvas"></canvas>
    <h3 class="w3-center">Financial guidance and support</h3>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      <div class="w3-third w3-margin-bottom">
        <div class="w3-border w3-hover-shadow w3-round-large">
          <div class="w3-container w3-center w3-padding-16">
            <h3>Plan. Prepare. Enjoy home with family.</h3>
            <p>Discover tools and tips to help make buying or refinancing a little easier.</p>
            <a href="" class="w3-hide-small w3-hide-medium w3-padding w3-hover-black w3-border w3-round-xxlarge">Get tips for home buying</a>
            <a href="" class="w3-hide-large w3-hide-small w3-small w3-padding w3-hover-black w3-border w3-round-xxlarge">Get tips for home buying</a>
            <a href="" class="w3-hide-medium w3-hide-large w3-tiny w3-padding w3-hover-black w3-border w3-round-xxlarge">Get tips for home buying</a>
          </div>
        </div>
      </div>
      <div class="w3-third w3-margin-bottom">
        <div class="w3-border w3-hover-shadow w3-round-large">
          <div class="w3-container w3-center w3-padding-16">
            <h3>Dream big. Make it happen. Live it up.</h3>
            <p>Discover how smart saving habits could help make your dream purchases a reality.</p>
            <a href="" class="w3-hide-small w3-hide-medium w3-padding w3-hover-black  w3-border w3-round-xxlarge">Get tips for big purchases</a>
            <a href="" class="w3-hide-large w3-hide-small w3-small w3-padding w3-hover-black  w3-border w3-round-xxlarge">Get tips for big purchases</a>
            <a href="" class="w3-hide-medium w3-hide-large w3-tiny w3-padding w3-hover-black w3-border w3-round-xxlarge">Get tips for big purchases</a>
          </div>
        </div>
      </div>
      <div class="w3-third w3-margin-bottom">
        <div class="w3-border w3-hover-shadow w3-round-large">
          <div class="w3-container w3-center w3-padding-16">
            <h3>Spend less. Save more. Relax more.</h3>
            <p>Read and understand how these four steps could help you make it happen.</p>
            <a href="" class="w3-hide-small w3-hide-medium w3-padding w3-hover-black  w3-border w3-round-xxlarge">Manage spending and saving</a>
            <a href="" class="w3-hide-large w3-hide-small w3-small w3-padding w3-hover-black  w3-border w3-round-xxlarge">Manage spending and saving</a>
            <a href="" class="w3-hide-medium w3-hide-large w3-tiny w3-padding w3-hover-black  w3-border w3-round-xxlarge">Manage spending and saving</a>
          </div>
        </div>
      </div>
    </div>
</div>
  
<div class="w3-row w3-center w3-black w3-padding-8">
  <marquee direction="scroll">
    <p class="w3-small w3-purple""> "base": "USD", "date": "2022-12-01", "rates": { "AUD": 1.469775, "CAD": 1.342455, "CHF": 0.944645, "EUR": 0.957471, "GBP": 0.82166, "JPY": 136.160496, "NZD": 1.573795, "USD": 1, "XAU": 0.000561</p>
  </marquee>
</div>

<!-- Mobile App-->
<div class="bg-gradient w3-container w3-grayscale-min w3-block">
    <div class="w3-third w3-container img-container">
      <img style=" max-width: 85%; height:auto; object-fit: contain; margin-top: 40%;" src="{% static 'images/frontend/undraw.svg'%}" alt="svg">
    </div>
    <div class="w3-twothird">
      <span class="w3-jumbo w3-hide-small">Banking in the palm of your hand <i class="fa fa-mobile w3-margin-right"></i></span><br>
      <span class="w3-xxlarge w3-hide-large w3-hide-medium">Banking in the palm of your hand</span><br>
      <p class="w3-xlarge w3-margin">Our Mobile app® gives you fast and secure access to your finances</p>
      <p class="w3-margin w3-xlarge">Check your account balance</p>
      <p class="w3-margin w3-xlarge">View your latest score® </p>
      <p class="w3-margin w3-xlarge"> Send and receive money®</p>
    </div>

    <p class="w3-center w3-xxlarge"> Download our app</p>
    <br>
    <div class="w3-container w3-center w3-margin w3-padding">
        <a href="" class="w3-col l4 m5 s12 w3-left w3-padding w3-black w3-round-xxlarge w3-hover-white">App store</a>
        <a href="" class="w3-col l4 m5 s12 w3-hide-small w3-right w3-padding w3-black w3-round-xxlarge w3-hover-white">Google Play</a>
        <a href="" class="w3-col l4 m5 s12 w3-hide-large w3-hide-medium w3-margin-top w3-right w3-padding w3-black w3-round-xxlarge w3-hover-white">Google Play</a>
    </div>
    <br>


</div>

{% endblock %}